/ConsoleAppMyFirstAppSln/.vs

/ConsoleAppMyFirstAppSln/ConsoleAppMyFirstApp/Bin
/ConsoleAppMyFirstAppSln/ConsoleAppMyFirstApp/Obj

/ConsoleAppMyFirstAppSln/ConsoleAppRectangeArea/Bin
/ConsoleAppMyFirstAppSln/ConsoleAppRectangeArea/Obj

/ConsoleAppMyFirstAppSln/ConsoleAppMyFirstAppSln.sln

